<!-- 시험 문제는 id 괄호넣기 방식으로 -->
<style>
    #div_books img {
        cursor:pointer;
    }
    #div_books .card-footer .bi {
        cursor: pointer;
        color:green;
    }

</style>
<div class="row my-5">
    <div class="col">
        <div class="row mb-2 justify-content-end">
            <form name="frm" class="col-6 col-md-4 col-lg-3"><!-- 일반, 미들, 라지 해상도 -->
                <div class="input-group">
                    <input name="query" class="form-control" value="자바">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <div id="div_books" class="row"></div>
        <div class="text-center mt-3" id="div_page">
            <button class="btn btn-primary" id="prev">이전</button>
            <span class="mx-3" id="span_page">1/10</span>
            <button class="btn btn-primary" id="next">다음</button>
        </div>
    </div>
</div>
<script type="x-handlebars-template" id="temp_books">
    {{#each documents}}
    <div class="col-6 col-md-4 col-lg-2 mb-2">
        <div class="card">
            <div class="card-body">
                <img src="{{chkImage thumbnail}}" width="100%" index="{{@index}}">
                <div class="ellipsis text-center">{{ title }}</div>
            </div>
            <div class="card-footer">
                <div>
                    <span style="font-size:0.6rem;">{{fmtPrice price}}</span>
                    <i class="bi bi-cart float-end" book="{{book @this}}"></i>
                </div>

            </div>
        </div>
    </div>
    <%-include("./books/modal.ejs")%>    
    {{/each}}
</script>
<script>
    Handlebars.registerHelper("chkImage", function(thumbnail){
        if(!thumbnail) {
            return "http://via.placeholder.com/120x170";
        }else {
            return thumbnail;
        }
    });

    Handlebars.registerHelper("fmtPrice", function(price){
        if(price) return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
    });

    Handlebars.registerHelper("book", function(book){
        return JSON.stringify(book);
    });
</script>
<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getDatabase, set, ref, onValue, get, child } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js";
    const db = getDatabase(app);

    let query=$(frm.query).val();
    let page=1;

    $("#div_books").on("click", ".bi-cart", async function(){
        const book= JSON.parse($(this).attr("book"));
        if(sessionStorage.getItem("email")){
            const uid=sessionStorage.getItem("uid");
            const ref_book=ref(db,`cart/${uid}/${book.isbn}`);

            const snapshot=await get(ref_book);
            if(snapshot.val()){
                alert("장바구니에 이미 존재하는 도서입니다!");
            } else{
                if(!confirm("장바구니에 저장하실래요?")) return;
                await set(ref_book, book);
                alert("장바구니에 등록되었습니다.");
            }
        }else{
            location.href="/users/login";
        }
    });


    $("#div_books").on("click", "img", function(){
        let index=$(this).attr("index")
        $("#modal" + index).modal("show");
    });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query=="") {
            alert("검색 내용을 입력하세요!");
            $(frm.query).focus();
        }else{
            page=1;
            getList();
        }
    });

$("#next").on("click", function() {
    page++;
    getList();
})

$("#prev").on("click", function() {
    page--;
    getList();
})

getList()

    function getList() {
        $.ajax({
            type:'get',
            url:'https://dapi.kakao.com/v3/search/book',
            headers:{Authorization: `KakaoAK 742f314b42ecbdffe4b2e2d6650d0c5a`},
            data:{ query: query, page: page, size:6 },
            dataType:'json',
            success:function(data){
                console.log(data)
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
                $("#span_page").html(page);
                if(page==1) {
                    $("#prev").attr("disabled", true)
                }else {
                    $("#prev").attr("disabled", false);
                }
                if(data.meta.is_end) {
                    $("#next").attr("disabled", true)
                }else {
                    $("#next").attr("disabled", false);
                }
                let last=Math.ceil(data.meta.pageable_count/6);
                if(data.meta.pageable_count>0){
                    $("#div_page").show();
                    $("#span_page").html(page + "/" + last);
                }else{
                    $("#div_page").hide();
                    $("#div_books").html(`<h1 class='text-center'>'${query}' 도서가 존재하지 않습니다.</h1>`)
                }
            }
        });
    }
</script>