<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>저는 <%= name %> 입니다</p>
    <hr>
    <a href="/">홈</a>
    <a href="/posts">게시글</a>
    <a href="/books">도서검색</a>
  </body>
</html>
